<div style="float:left; width:50%">
    <div>
        <h3>Useful Stuffs</h3>
        <footer>
            You can visit the <a href="{% if page.pg %}{{page.pg}}{% else %}https://www.pygame.org/docs{% endif %}">
                pygame documentation
            </a> to find the full list of functions and other information about the Pygame library.
        </footer>
    </div>

    <div>
        {% if page.links %}
            <br>
            <h3>Other Useful Links</h3>
            <footer>
                {% for link in page.links %}
                    <a href="{{ link[0] }}">{{ link[1] }}</a><br>
                {% endfor %}
            </footer>
        {% endif %}
    </div>
</div>

<div>
    <div style="float:right; width:50%;">
        <h4><a href="https://github.com/Matiiss/pygame_examples">Pygame Examples</a></h4>
        <h4><a href="https://github.com/pygame-guide-for-sneks/pygame-guide-for-sneks.github.io">Want to contribute to this guide or did you a problem? Visit us here!</a></h4>
        <h5>Created by the Pygame Guide for Sneks Organization</h5>
    </div>
</div>