<div>
    {% if page.prev_page %}
        <button class="button-link button-left" data-url="{{ page.prev_page[0] }}" data-type="prev">{{ page.prev_page[1] }}</button>
    {% endif %}

    {% if page.next_page %}
        <button class="button-link button-right" data-url="{{ page.next_page[0] }}" data-type="next">{{ page.next_page[1] }}</button>
    {% endif %}

    <div style="clear: both;"></div>
</div>

<hr style="margin-top: 1rem;">

<div style="display: flex; gap: 1rem;">
    <div>
        <div>
            <h3>Useful Stuffs</h3>
            <footer>
                You can visit the <a class="new-tab" href="{% if page.pg %}{{ page.pg }}{% else %}https://www.pygame.org/docs{% endif %}">
                    pygame documentation
                </a> to find the full list of functions and other information about the Pygame library.
            </footer>
        </div>

        <div>
            {% if page.links %}
                <br>
                <h3>Other Useful Links</h3>
                <footer>
                    {% for link in page.links %}
                        <a class="new-tab" href="{{ link[0] }}">{{ link[1] }}</a><br>
                    {% endfor %}
                </footer>
            {% endif %}
        </div>
    </div>

    <div>
        <h4><a class="new-tab" href="https://github.com/Matiiss/pygame_examples">Pygame Examples</a></h4>
        <h4>Want to contribute to this guide or did you find a problem? Visit us <a class="new-tab" href="https://github.com/pygame-guide-for-sneks/pygame-guide-for-sneks.github.io">here!</a></h4>
    </div>
</div>

<div style="margin-top: 1rem; text-align:center;">
    <h5>Created by the Pygame Guide for Sneks Organization</h5>
</div>