---
---

// No base because of the theme
@tailwind components;
@tailwind utilities;

// It works, but VSCode doesn't like it :(
@import "jekyll-theme-midnight";

@import "{{ site.theme }}";

section {
    margin-top: 10px
}