@import "onedark.css"; /* for syntax highlighting color theme */

button {
    padding: 12px 20px;
    border-radius: 10px;
    border-width: 3px;
    background-color: #615858;
    color: #e8e8e8;
    font-weight: 500;
    margin-bottom: 10px;
}

button:hover {
    background-color: #736868;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

code {
    margin: -5px;
}

.python-embed {
    border: 1px solid black;
}

.lineno {
    width: 100px;
}

/* 
    Javascript handles some formatting with /scripts/format.js 
    and that will probably override what's in here if there's
    a conflict
*/