on: pull_request_review
name: Label approved pull requests

jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    secrets: inherit

    permissions:
      contents: read
      issues: write
      pull-requests: write

    steps:
    - name: Label when one review
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.LABEL_SECRET }}
        ADD_LABEL: "PR: Needs second approval"
        REMOVE_LABEL: "PR: Needs first approval"
    - name: Label when two reviews
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "2"
        GITHUB_TOKEN: ${{ secrets.LABEL_SECRET }}
        ADD_LABEL: "PR: Awaiting merge"
        REMOVE_LABEL: "PR: Needs second approval"
